@model List<TestMvcApp.Models.ImageInfo>  

@{
    ViewData["Title"] = "Random Images";
}
<div name="Special_paper2">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Skills</h1>
            <p2>
Gideon Tembo_Html,CSS, JavaScript and PHP development. <br>
Mwamba_      Html Css and JavaScript.<br>
Faith_       JavaScript and intuitive fast learning.<br>
Lubinda _    Full Stack development using .net Core ASP.
</p2>
          
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="/images/student.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
</div>